In [118]:
import pandas as pd
overall=pd.read_csv("Sample Dataset - Overall.csv")
task=pd.read_csv("Sample Dataset - Task.csv")
print(overall.shape)
print(task.shape)
df=pd.merge(overall,task,how="inner",on="name")
print(df)
df.to_csv("merged")

(50, 15)
(57, 39)
    SNO_x       name              email_x  Completion%_x  totalTask_x  \
0       1   Student1   student1@gmail.com          79.31           29
1       2   Student2   student2@gmail.com          55.17           29
2       3   Student3   student3@gmail.com          27.59           29
3       4   Student4   student4@gmail.com           6.90           29
4       5   Student5   student5@gmail.com           0.00           29
5       6   Student6   student6@gmail.com          62.07           29
6       7   Student7   student7@gmail.com          17.24           29
7       8   Student8   student8@gmail.com          41.38           29
8       9   Student9   student9@gmail.com           0.00           29
9      10  Student10  student10@gmail.com           0.00           29
10     11  Student11  student11@gmail.com           3.45           29
11     12  Student12  student12@gmail.com           0.00           29
12     13  Student13  student13@gmail.com          82.76           29
13     14  Student14  student14@gmail.com          86.21           29
14     15  Student15  student15@gmail.com           0.00           29
15     16  Student16  student16@gmail.com           6.90           29
16     17  Student17  student17@gmail.com           0.00           29
17     18  Student18  student18@gmail.com           0.00           29
18     19  Student19  student19@gmail.com           0.00           29
19     20  Student20  student20@gmail.com          96.55           29
20     21  Student21  student21@gmail.com          82.76           29
21     22  Student22  student22@gmail.com          17.24           29
22     23  Student23  student23@gmail.com          13.79           29
23     24  Student24  student24@gmail.com          55.17           29
24     25  Student25  student25@gmail.com          24.14           29
25     26  Student26  student26@gmail.com          72.41           29
26     27  Student27  student27@gmail.com          48.28           29
27     28  Student28  student28@gmail.com          86.21           29
28     29  Student29  student29@gmail.com          55.17           29
29     30  Student30  student30@gmail.com          27.59           29
30     31  Student31  student31@gmail.com          17.24           29
31     32  Student32  student32@gmail.com           6.90           29
32     33  Student33  student33@gmail.com          86.21           29
33     34  Student34  student34@gmail.com          65.52           29
34     35  Student35  student35@gmail.com          65.52           29
35     36  Student36  student36@gmail.com          86.21           29
36     37  Student37  student37@gmail.com          68.97           29
37     38  Student38  student38@gmail.com          44.83           29
38     39  Student39  student39@gmail.com          72.41           29
39     40  Student40  student40@gmail.com          51.72           29
40     41  Student41  student41@gmail.com          44.83           29
41     42  Student42  student42@gmail.com          68.97           29
42     43  Student43  student43@gmail.com          93.10           29
43     44  Student44  student44@gmail.com          44.83           29
44     45  Student45  student45@gmail.com          79.31           29
45     46  Student46  student46@gmail.com          65.52           29
46     47  Student47  student47@gmail.com           0.00           29
47     48  Student48  student48@gmail.com          93.10           29
48     49  Student49  student49@gmail.com          51.72           29
49     50  Student50  student50@gmail.com          27.59           29

    pendingTask_x  submittedTask_x  Unverified_x  TaskTotalMark_x  \
0               6               23            19             31.6
1              13               16            14             13.0
2              21                8             7              7.5
3              27                2             2              0.0
4              29                0             0              0.0
5              11               18            16             13.8
6              24                5             5              0.0
7              17               12            10             13.0
8              29                0             0              0.0
9              29                0             0              0.0
10             28                1             1              0.0
11             29                0             0              0.0
12              5               24            21             19.0
13              4               25            25              0.0
14             29                0             0              0.0
15             27                2             1              7.0
16             29                0             0              0.0
17             29                0             0              0.0
18             29                0             0              0.0
19              1               28            28              0.0
20              5               24            24              0.0
21             24                5             4              7.2
22             25                4             3              7.0
23             13               16            12             26.0
24             22                7             7              0.0
25              8               21            18             19.8
26             15               14            10             25.0
27              4               25            20             34.9
28             13               16            11             34.1
29             21                8             6             14.0
30             24                5             4              7.2
31             27                2             2              0.0
32              4               25            21             28.5
33             10               19            11             50.1
34             10               19            11             51.9
35              4               25            19             38.9
36              9               20            16             26.4
37             16               13             9             31.5
38              8               21            20              7.2
39             14               15             9             42.9
40             16               13             9             27.1
41              9               20            17             19.6
42              2               27            21             36.5
43             16               13            10             25.1
44              6               23            17             37.8
45             10               19            11             48.7
46             29                0             0              0.0
47              2               27            23             26.0
48             14               15            12             18.0
49             21                8             6             11.0

    TaskAverageMark_x  ...  TASK - 20 TASK - 21 TASK - 22 TASK - 23 TASK - 24  \
0               10.90  ...         NS        NS        NS        NS        NS
1                4.48  ...          -         -         -         -        NS
2                2.59  ...          -         -         -         -        NS
3                0.00  ...         NS        NS        NS        NS        NS
4                0.00  ...         NS        NS        NS        NS        NS
5                4.76  ...         NS        NS        NS        NS        NS
6                0.00  ...          -         -         -        NS         -
7                4.48  ...         NS        NS        NS        NS        NS
8                0.00  ...         NS        NS        NS        NS        NS
9                0.00  ...         NS        NS        NS        NS        NS
10               0.00  ...         NS        NS        NS        NS        NS
11               0.00  ...         NS        NS        NS        NS        NS
12               6.55  ...         NS        NS        NS        NS        NS
13               0.00  ...         NS         -         -         -         -
14               0.00  ...          -         -         -         -         -
15               2.41  ...         NS        NS        NS        NS        NS
16               0.00  ...         NS        NS        NS        NS        NS
17               0.00  ...         NS        NS        NS        NS        NS
18               0.00  ...         NS        NS        NS        NS        NS
19               0.00  ...         NS        NS        NS        NS        NS
20               0.00  ...          -         -         -         -         -
21               2.48  ...          -         -         -         -         -
22               2.41  ...         NS        NS        NS        NS        NS
23               8.97  ...         NS        NS        NS        NS        NS
24               0.00  ...          -        NS        NS        NS        NS
25               6.83  ...         NS        NS        NS        NS        NS
26               8.62  ...         NS        NS         -        NS        NS
27              12.03  ...          -         -         -         -         -
28              11.76  ...         NS        NS        NS        NS        NS
29               4.83  ...          -         -         -         -         -
30               2.48  ...         NS        NS        NS        NS        NS
31               0.00  ...         NS        NS        NS        NS        NS
32               9.83  ...         NS        NS        NS        NS        NS
33              17.28  ...         NS        NS        NS        NS        NS
34              17.90  ...         NS        NS        NS        NS        NS
35              13.41  ...         NS        NS        NS        NS        NS
36               9.10  ...         NS        NS        NS        NS        NS
37              10.86  ...          -         -         -         -         -
38               2.48  ...          -         -         -        NS        NS
39              14.79  ...          -         -         -        NS        NS
40               9.34  ...          -         -         -         -        NS
41               6.76  ...         NS         -        NS        NS         -
42              12.59  ...         NS        NS        NS        NS        NS
43               8.66  ...          -         -         -         -         -
44              13.03  ...          -         -        NS        NS        NS
45              16.79  ...         NS        NS        NS        NS        NS
46               0.00  ...          -         -         -         -        NS
47               8.97  ...          -         -         -         -         -
48               6.21  ...         NS        NS        NS        NS        NS
49               3.79  ...         NS        NS        NS        NS        NS

    TASK - 25 TASK - 26  TASK - 27  TASK - 28  TASK - 29
0          NS        NS         NS         NS         NS
1          NS        NS          -         NS         NS
2          NS        NS         NS         NS         NS
3          NS        NS         NS         NS         NS
4          NS        NS         NS         NS         NS
5          NS        NS         NS         NS         NS
6          NS        NS         NS         NS         NS
7          NS        NS         NS         NS         NS
8          NS        NS         NS         NS         NS
9          NS        NS         NS         NS         NS
10         NS        NS         NS         NS         NS
11         NS        NS         NS         NS         NS
12         NS        NS         NS         NS         NS
13          -        NS         NS         NS         NS
14          -        NS         NS         NS         NS
15         NS        NS         NS         NS         NS
16         NS        NS         NS         NS         NS
17         NS        NS         NS         NS         NS
18         NS        NS         NS         NS         NS
19         NS        NS         NS         NS         NS
20          -         -          -          -         NS
21          -        NS          -          -         NS
22         NS        NS         NS         NS         NS
23         NS        NS         NS         NS         NS
24         NS        NS         NS         NS         NS
25         NS        NS         NS         NS         NS
26         NS        NS         NS         NS         NS
27          -         -         NS         NS         NS
28         NS        NS         NS         NS         NS
29          -         -         NS         NS         NS
30         NS        NS         NS         NS         NS
31         NS        NS         NS         NS         NS
32         NS        NS         NS         NS         NS
33         NS        NS         NS         NS         NS
34         NS        NS         NS         NS         NS
35         NS        NS         NS         NS         NS
36         NS        NS         NS         NS         NS
37         NS        NS          -         NS         NS
38         NS        NS         NS         NS         NS
39         NS        NS         NS         NS         NS
40          -         -         NS         NS         NS
41         NS        NS          -         NS         NS
42         NS        NS         NS         NS         NS
43         NS        NS          -         NS         NS
44         NS        NS         NS         NS         NS
45         NS        NS         NS         NS         NS
46         NS        NS         NS         NS         NS
47          -         -          -          -         NS
48         NS        NS         NS         NS         NS
49         NS        NS         NS         NS         NS

[50 rows x 53 columns]

In [119]:
# 1.Total No. Students.
total_no_of_students=len(df["name"].unique())
print("TOTAL NUMBER OF STUDENTS:",total_no_of_students)

TOTAL NUMBER OF STUDENTS: 50

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SNO_x              50 non-null     int64
 1   name               50 non-null     object
 2   email_x            50 non-null     object
 3   Completion%_x      50 non-null     float64
 4   totalTask_x        50 non-null     int64
 5   pendingTask_x      50 non-null     int64
 6   submittedTask_x    50 non-null     int64
 7   Unverified_x       50 non-null     int64
 8   TaskTotalMark_x    50 non-null     float64
 9   TaskAverageMark_x  50 non-null     float64
 10  Attendance %       50 non-null     int64
 11  Mock 1 Attended    50 non-null     object
 12  Mock 2 Attended    50 non-null     object
 13  Webcode 1          50 non-null     object
 14  Webcode 2          50 non-null     object
 15  SNO_y              50 non-null     float64
 16  email_y            50 non-null     object
 17  Completion%_y      50 non-null     float64
 18  totalTask_y        50 non-null     float64
 19  pendingTask_y      50 non-null     float64
 20  submittedTask_y    50 non-null     float64
 21  Unverified_y       50 non-null     float64
 22  TaskTotalMark_y    50 non-null     float64
 23  TaskAverageMark_y  50 non-null     float64
 24  TASK - 1           50 non-null     object
 25  TASK - 2           50 non-null     object
 26  TASK - 3           50 non-null     object
 27  TASK - 4           50 non-null     object
 28  TASK - 5           50 non-null     object
 29  TASK - 6           50 non-null     object
 30  TASK - 7           50 non-null     object
 31  TASK - 8           50 non-null     object
 32  TASK - 9           50 non-null     object
 33  TASK - 10          50 non-null     object
 34  TASK - 11          50 non-null     object
 35  TASK - 12          50 non-null     object
 36  TASK - 13          50 non-null     object
 37  TASK - 14          50 non-null     object
 38  TASK - 15          50 non-null     object
 39  TASK - 16          50 non-null     object
 40  TASK - 17          50 non-null     object
 41  TASK - 18          50 non-null     object
 42  TASK - 19          50 non-null     object
 43  TASK - 20          50 non-null     object
 44  TASK - 21          50 non-null     object
 45  TASK - 22          50 non-null     object
 46  TASK - 23          50 non-null     object
 47  TASK - 24          50 non-null     object
 48  TASK - 25          50 non-null     object
 49  TASK - 26          50 non-null     object
 50  TASK - 27          50 non-null     object
 51  TASK - 28          50 non-null     object
 52  TASK - 29          50 non-null     object
dtypes: float64(11), int64(6), object(36)
memory usage: 21.1+ KB

In [121]:
#2.OVERALL TASK SUBMSSION %.
task_submission_percent=(df["submittedTask_x"].sum()/total_no_of_students)
print("TOTAL TASK SUBMSSION_%",task_submission_percent)

TOTAL TASK SUBMSSION_% 12.66

In [122]:
# 3.ATTENTANCE %
Attendance_percent=df["Attendance %"].sum()/total_no_of_students
print("ATTENDANCE %:",Attendance_percent)

ATTENDANCE %: 66.38

In [123]:
#4.overall 1st Webcode Submitted.
# checking for what are the values are in.
print("values in webcode:\n",df["Webcode 1"].value_counts())

values in webcode:
 NS     19
7      12
6       5
6.5     3
7.6     2
7.2     2
5       2
7.9     1
6.6     1
6.2     1
6.9     1
7.4     1
Name: Webcode 1, dtype: int64

In [124]:
# changing NS to zero and converting them to int data type because webcode in object
df["Webcode 1"]=df["Webcode 1"].replace("NS","0")
df["Webcode 1"]=df["Webcode 1"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SNO_x              50 non-null     int64
 1   name               50 non-null     object
 2   email_x            50 non-null     object
 3   Completion%_x      50 non-null     float64
 4   totalTask_x        50 non-null     int64
 5   pendingTask_x      50 non-null     int64
 6   submittedTask_x    50 non-null     int64
 7   Unverified_x       50 non-null     int64
 8   TaskTotalMark_x    50 non-null     float64
 9   TaskAverageMark_x  50 non-null     float64
 10  Attendance %       50 non-null     int64
 11  Mock 1 Attended    50 non-null     object
 12  Mock 2 Attended    50 non-null     object
 13  Webcode 1          50 non-null     float64
 14  Webcode 2          50 non-null     object
 15  SNO_y              50 non-null     float64
 16  email_y            50 non-null     object
 17  Completion%_y      50 non-null     float64
 18  totalTask_y        50 non-null     float64
 19  pendingTask_y      50 non-null     float64
 20  submittedTask_y    50 non-null     float64
 21  Unverified_y       50 non-null     float64
 22  TaskTotalMark_y    50 non-null     float64
 23  TaskAverageMark_y  50 non-null     float64
 24  TASK - 1           50 non-null     object
 25  TASK - 2           50 non-null     object
 26  TASK - 3           50 non-null     object
 27  TASK - 4           50 non-null     object
 28  TASK - 5           50 non-null     object
 29  TASK - 6           50 non-null     object
 30  TASK - 7           50 non-null     object
 31  TASK - 8           50 non-null     object
 32  TASK - 9           50 non-null     object
 33  TASK - 10          50 non-null     object
 34  TASK - 11          50 non-null     object
 35  TASK - 12          50 non-null     object
 36  TASK - 13          50 non-null     object
 37  TASK - 14          50 non-null     object
 38  TASK - 15          50 non-null     object
 39  TASK - 16          50 non-null     object
 40  TASK - 17          50 non-null     object
 41  TASK - 18          50 non-null     object
 42  TASK - 19          50 non-null     object
 43  TASK - 20          50 non-null     object
 44  TASK - 21          50 non-null     object
 45  TASK - 22          50 non-null     object
 46  TASK - 23          50 non-null     object
 47  TASK - 24          50 non-null     object
 48  TASK - 25          50 non-null     object
 49  TASK - 26          50 non-null     object
 50  TASK - 27          50 non-null     object
 51  TASK - 28          50 non-null     object
 52  TASK - 29          50 non-null     object
dtypes: float64(12), int64(6), object(35)
memory usage: 21.1+ KB

In [125]:
overall_1st_webcode_1_submitted=df["Webcode 1"].sum()
print("overall 1st Webcode Submitted:",overall_1st_webcode_1_submitted)

overall 1st Webcode Submitted: 208.1

In [126]:
# 5.overall 2nd Webcode Submitted.
# checking for what are the values are in.
print("values in webcode:\n",df["Webcode 2"].value_counts())

values in webcode:
 NS     24
6       7
7.6     4
7       4
6.6     3
5       3
6.5     2
7.9     1
6.8     1
7.2     1
Name: Webcode 2, dtype: int64

In [127]:
# changing NS to zero and converting them to int data type because webcode in object
df["Webcode 2"]=df["Webcode 2"].replace("NS","0")
df["Webcode 2"]=df["Webcode 2"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SNO_x              50 non-null     int64
 1   name               50 non-null     object
 2   email_x            50 non-null     object
 3   Completion%_x      50 non-null     float64
 4   totalTask_x        50 non-null     int64
 5   pendingTask_x      50 non-null     int64
 6   submittedTask_x    50 non-null     int64
 7   Unverified_x       50 non-null     int64
 8   TaskTotalMark_x    50 non-null     float64
 9   TaskAverageMark_x  50 non-null     float64
 10  Attendance %       50 non-null     int64
 11  Mock 1 Attended    50 non-null     object
 12  Mock 2 Attended    50 non-null     object
 13  Webcode 1          50 non-null     float64
 14  Webcode 2          50 non-null     float64
 15  SNO_y              50 non-null     float64
 16  email_y            50 non-null     object
 17  Completion%_y      50 non-null     float64
 18  totalTask_y        50 non-null     float64
 19  pendingTask_y      50 non-null     float64
 20  submittedTask_y    50 non-null     float64
 21  Unverified_y       50 non-null     float64
 22  TaskTotalMark_y    50 non-null     float64
 23  TaskAverageMark_y  50 non-null     float64
 24  TASK - 1           50 non-null     object
 25  TASK - 2           50 non-null     object
 26  TASK - 3           50 non-null     object
 27  TASK - 4           50 non-null     object
 28  TASK - 5           50 non-null     object
 29  TASK - 6           50 non-null     object
 30  TASK - 7           50 non-null     object
 31  TASK - 8           50 non-null     object
 32  TASK - 9           50 non-null     object
 33  TASK - 10          50 non-null     object
 34  TASK - 11          50 non-null     object
 35  TASK - 12          50 non-null     object
 36  TASK - 13          50 non-null     object
 37  TASK - 14          50 non-null     object
 38  TASK - 15          50 non-null     object
 39  TASK - 16          50 non-null     object
 40  TASK - 17          50 non-null     object
 41  TASK - 18          50 non-null     object
 42  TASK - 19          50 non-null     object
 43  TASK - 20          50 non-null     object
 44  TASK - 21          50 non-null     object
 45  TASK - 22          50 non-null     object
 46  TASK - 23          50 non-null     object
 47  TASK - 24          50 non-null     object
 48  TASK - 25          50 non-null     object
 49  TASK - 26          50 non-null     object
 50  TASK - 27          50 non-null     object
 51  TASK - 28          50 non-null     object
 52  TASK - 29          50 non-null     object
dtypes: float64(13), int64(6), object(34)
memory usage: 21.1+ KB

In [128]:
overall_1st_webcode_2_submitted=df["Webcode 2"].sum()
print("overall 2nd Webcode Submitted:",overall_1st_webcode_2_submitted)

overall 2nd Webcode Submitted: 170.10000000000002

In [129]:
# decimals are more limit them for 2.
print("overall 2nd Webcode Submitted:",round(overall_1st_webcode_2_submitted,2))

overall 2nd Webcode Submitted: 170.1

In [130]:
# 6.no of Mock 1 Attended.
"""Here yes-present| no-absent. Byassaigning 1-present, we can count no of Mock 1 Attended """
print("Checking values in mock 1 attended column to know what are the unqiue reresentations are ther",df["Mock 1 Attended"].unique())

Checking values in mock 1 attended column to know what are the unqiue reresentations are ther ['YES' 'NO']

In [131]:
"""Here yes-present| no-absent. Byassaigning 1-present, we can count no of Mock 1 Attended """
df["Mock 1 Attended"]=df["Mock 1 Attended"].replace("YES",int(1))
df["Mock 1 Attended"]=df["Mock 1 Attended"].replace("NO",int(0))
print("No of Mock 1 Attended:\n",df["Mock 1 Attended"].sum())

No of Mock 1 Attended:
 33

In [132]:
# 7.no of Mock 2 Attended.
# """Here yes-present| no-absent. Byassaigning 1-present, we can count no of Mock 1 Attended """
print("Checking values in mock 2 attended column to know what are the unqiue reresentations are ther",df["Mock 2 Attended"].unique())

Checking values in mock 2 attended column to know what are the unqiue reresentations are ther ['YES' 'NO']

In [136]:
df["Mock 2 Attended"]=df["Mock 2 Attended"].replace("YES",int(1))
df["Mock 2 Attended"]=df["Mock 2 Attended"].replace("NO",int(0))

# counting rows with value=1
import numpy as np
print("No of mock 2 attended:",np.sum(df["Mock 2 Attended"] == 1))

No of mock 2 attended: 39

In [144]:
# 8.Count of zero task.
# to know the columns number to select the columns having task score.
series=pd.Series(df.columns)
series

0                 SNO_x
1                  name
2               email_x
3         Completion%_x
4           totalTask_x
5         pendingTask_x
6       submittedTask_x
7          Unverified_x
8       TaskTotalMark_x
9     TaskAverageMark_x
10         Attendance %
11      Mock 1 Attended
12      Mock 2 Attended
13            Webcode 1
14            Webcode 2
15                SNO_y
16              email_y
17        Completion%_y
18          totalTask_y
19        pendingTask_y
20      submittedTask_y
21         Unverified_y
22      TaskTotalMark_y
23    TaskAverageMark_y
24             TASK - 1
25             TASK - 2
26             TASK - 3
27             TASK - 4
28             TASK - 5
29             TASK - 6
30             TASK - 7
31             TASK - 8
32             TASK - 9
33            TASK - 10
34            TASK - 11
35            TASK - 12
36            TASK - 13
37            TASK - 14
38            TASK - 15
39            TASK - 16
40            TASK - 17
41            TASK - 18
42            TASK - 19
43            TASK - 20
44            TASK - 21
45            TASK - 22
46            TASK - 23
47            TASK - 24
48            TASK - 25
49            TASK - 26
50            TASK - 27
51            TASK - 28
52            TASK - 29
dtype: object

In [150]:
# task has been started from column index =24
sample_df=df.iloc[:,24:]
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TASK - 1   50 non-null     object
 1   TASK - 2   50 non-null     object
 2   TASK - 3   50 non-null     object
 3   TASK - 4   50 non-null     object
 4   TASK - 5   50 non-null     object
 5   TASK - 6   50 non-null     object
 6   TASK - 7   50 non-null     object
 7   TASK - 8   50 non-null     object
 8   TASK - 9   50 non-null     object
 9   TASK - 10  50 non-null     object
 10  TASK - 11  50 non-null     object
 11  TASK - 12  50 non-null     object
 12  TASK - 13  50 non-null     object
 13  TASK - 14  50 non-null     object
 14  TASK - 15  50 non-null     object
 15  TASK - 16  50 non-null     object
 16  TASK - 17  50 non-null     object
 17  TASK - 18  50 non-null     object
 18  TASK - 19  50 non-null     object
 19  TASK - 20  50 non-null     object
 20  TASK - 21  50 non-null     object
 21  TASK - 22  50 non-null     object
 22  TASK - 23  50 non-null     object
 23  TASK - 24  50 non-null     object
 24  TASK - 25  50 non-null     object
 25  TASK - 26  50 non-null     object
 26  TASK - 27  50 non-null     object
 27  TASK - 28  50 non-null     object
 28  TASK - 29  50 non-null     object
dtypes: object(29)
memory usage: 11.7+ KB

In [153]:
np.sum(df["TASK - 1"]=="-")

28

In [158]:
# all the columns are in string.
# creating function for counting null values
count_of_zero_task=0
for i in sample_df.columns:
    count_of_zero_task+=np.sum(df[i]=="-")
print("Count of Zero Task:",count_of_zero_task)

Count of Zero Task: 454

In [137]:
# 9.Overall count of Zero attendance.
print("Count of Zero attendance:\n",np.sum(df["Attendance %"]==int(0)))

Count of Zero attendance:
 3

In [139]:
# 10. count of Attendance above 75%\
print("Count of attendance_% above 75:\n",np.sum(df["Attendance %"]>75))

Count of attendance_% above 75:
 29

In [159]:
# 11. lets count the number of zero_attendance,zer task & Mock.
print("Total Number of zero_attendance,task & Mock are:\n",count_of_zero_task +np.sum(df["Mock 2 Attended"]== 0) + np.sum(df["Mock 2 Attended"]==0) + np.sum(df["Attendance %"]==int(0)))

Total Number of zero_attendance,task & Mock are:
 479